@using MediaManager.MvcViewModels
@model ListMediaFilesViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        @foreach (KeyValuePair<string, bool> kv in Model.ShowMetadata)
        {
            @*@Html.CheckBox(kv.Key, kv.Value)*@
            @*
                using CheckBoxFor ensures that the value of the CheckBox is bound to the view model
                and therefore returned by the view to the controller's action method
            *@
            @Html.CheckBoxFor(m => m.ShowMetadata[kv.Key])
            <label>@kv.Key</label>
            <br />
        }

        @Html.EditorFor(m => m.SearchTerm, new { htmlAttributes = new { @class = "form-control" } })
        @*@Html.HiddenFor(m => m.PageNumber)*@
        @Html.HiddenFor(m => m.IsInitialized)
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

