@using MediaManager.MvcViewModels
@model ListMediaFilesViewModel

@*
    @Html.Partial("_MetadataSelection")
    @Html.Partial("_SearchAjax")
*@
@using (Html.BeginForm())
{
    <div class="col-md-3">
        @Html.Partial("_MetadataSelection")
    </div>
    <div class="col-md-9">
        @Html.Partial("_SearchBox")
        @Html.Partial("_MediaFiles", Model)
    </div>
}